ul{
   list-style-type: none;
   display: flex;
   justify-content: flex-end;
   padding: 8px;
   background-color: #4169e1;
width:100% ;
overflow: auto;
}
a{
   color: white;
   text-decoration:none ;
   border:2px solid black;
   padding: 5px;
   margin: 5px;
}
a:hover{
   background-color:black;

}
*{
   margin:0 ;
padding: 0;
}
